*{
    margin: 0;
    padding: 0;
}

.foto-perfil {
    height: 50%;
    width: auto;
    max-width: 50%;
    border-radius: 50%;
    border: 15px solid #007ced;
}
.foto-perfil:hover {
    border: 15px solid #ed0027;
}

.corPrimaria {
    background-color: #434343;
    background-blend-mode: multiply, multiply;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.corSecundaria {
    background-color: #434343;
    background-blend-mode: multiply,multiply;
}

p {
    font-family: lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black important;
}

.icons {
    padding-left: 5px;
}

.titulosPretos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(96, 184, 79);
}

.textoPreto {
    color: black !important;
}

.jumbotron {
    margin-bottom: 0px;
}

.textoFooter {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    visibility: hidden;
}

.navbar-nav{
    align-items: center;
}
.nav-item1:hover {
    border: none;
    display: flex;
    text-decoration: none;
    text-decoration: underline 3px #007ced;
}

.logo-imagem {
    width: 300px;
    height: 300px;
    flex-direction: row;
    transition: all 1s;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 60px;
}
.logo-imagem:hover{
   animation: float 1.2s ease-in-out infinite; 
}


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
    transform: translateY(-50px);
    }
}

