.foto-perfil {
    height: 100%;
    width: auto;
    max-width: 100%;
    border-radius: 50%;
    animation: float 4s ease-in-out infinite;
}

.corPrimaria {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-blend-mode: multiply,multiply;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.corSecundaria {
    background-color: #434343;
    background-blend-mode: multiply,multiply;
}

p {
    font-family: lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black important;
}

.icons {
    padding-left: 5px;
}

.titulosPretos {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(96, 184, 79);
}

.textoPreto {
    color: black !important;
}

.jumbotron {
    margin-bottom: 0px;
}

.textoFooter {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

html {
    scroll-behavior: smooth !important;
}

.container {
    visibility: hidden;
}
.nav-item1:hover {
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    border: none;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    transition: .5s ease-in-out;
}

.logo-imagem {
    transition: all 1s;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 60px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
    transform: translateY(-50px);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


